* {
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {

    background-image: url(/assets/images/bg.png);
    height: 100%;
}

:root{
    --primary-color: #ff8400;
    --secundary-color: #7b7777;
    --tertiary-color: #1e1e1e;
    
}

p {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
}

    .logo {
        height: 150px;
    }



    header {
        background-color: var(--primary-color);
        padding: 25px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: var(--secundary-color) solid;
       
    }

    header nav ul {
        font-family: "Ubuntu Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        display: flex;
        gap: 10px;
        list-style: none;
        text-decoration: none;
    }

    .link-nav li a {
        text-decoration: none;
        color: var(--secundary-color);
        padding: 20px;
        gap: 10px;

    }

  


    .link-nav li a:hover{
        background-color: #000000db;
        color: var(--primary-color);
        border-radius: 12px;
        padding: 12px;
        gap: 20px

    
    }

    section {
        min-height: 100vh;
        
    }

   img {
       height: 70vh;
   }
   
   #banner {
       display: flex;
       text-align: center;
       justify-content: space-evenly;
    }

    #banner img {
        height: 70vh;
        background-color: var(--tertiary-color);
        
       

        

    }

    .text-principal {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        background-image:url("/assets/images/nba.bg.jpeg") ;
        background-size:cover;
        opacity: 0.9;
        height: 70vh;
        
       
    
    }

.text-principal h1 {

    font-size: 100px;
}

.text-principal span {
    color: var(--primary-color);
    background-color: hwb(0 0% 100% / 0.637);
}

#categories, #products {
    text-align: center;
}

#categories h2, #products h2, #mail h2 {
    font-size: 40px;
    background-color: var(--primary-color);
    border: var(--secundary-color) solid;
}

#categories h3, #products h3 {
    color: aliceblue;
}

.container-grid-categories, .container-grid-products {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 20px;
}

#categories, img {
    height: 300px;
}

#categories .card, #products .card {

    background-color: var(--tertiary-color);
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 10px 10px 5px -9px rgba(26,24,24,0.75);
    -webkit-box-shadow: 10px 10px 5px -9px rgba(26,24,24,0.75);
    -moz-box-shadow: 10px 10px 5px -9px rgba(26,24,24,0.75);
    transition: 0.3s all;
}

#categories .card:hover {
    scale: 1.04;
}

#products p {

    font-size: 20px;
    color: var(--primary-color);
}

#products button {

    padding: 10px;
    color: var(--primary-color);
    background-color: (var(--primary-color));
    border-radius: 12px;
}

#products span {
font-size: 25px;
color: greenyellow;
}



#mail {
    font-size: 20px;
}

#mail h2{
    text-align: center;
}    

#mail label, #mail input ,#mail textarea, #mail button {

    display: block;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 50px;
    margin: 1px 150px;
}

#mail button{
    margin: 40px 150px  ;

}

form {
    background-color: var(--tertiary-color);
    color: var(--secundary-color);
    width: auto;
    padding:1px 25px;
    
}

button {
    font-size: 20px;

    color: var(--tertiary-color);
    background-color: var(--primary-color);
    padding: 8px 8px;
    margin: 10px 0 10px 0 ;
    border-radius: 15px;
    border-color: var(--secundary-color);

}

hr{
    border-top: 10px solid var(--primary-color);
    border-color: var(--tertiary-color);
    padding: 10px;
    margin-top: 10px;
}

footer section h2 {
    font-size: 40px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    position: relative;
    
}   

   .skewed {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secundary-color);
    transform: skewY(6deg);
    transform-origin: top right;
    
  }

  section li, i  {

    font-size: 20px;
   
    position: relative;
  }
   
  .bxl-whatsapp {
    font-size: 50px;
    color: #ffff;
    position:relative;
    right: -1200px;
    top: -104px;
    background-color:#25d366;
    border-radius: 50px;
  }

footer a {

    text-decoration: none;
    color: var(--tertiary-color);

}

footer i {

    color: var(--primary-color);
    font-size: 25px;

    margin:0 10px;
}


   




    